<% form_with model:@customer, local:true do |f| %>
<label>氏名</label>
<%= f.text_field :last_name, placeholder:"姓"%>
<%= f.text_field :first_name, placeholder:"名"%>

<lavel>フリガナ</lavel>
<%= f.text_field :last_name_kana, placeholder:"セイ" %>
<%= f.text_field :first_name_kana, placeholder:"メイ" %>

<lavel>住所</lavel>
<%= f.text_field :address, placeholder:"住所" %>

<lavel>電話番号</lavel>
<%= f.text_field :phone_number, placeholder:"電話番号" %>

<lavel>メールアドレス</lavel>
<%= f.text_field :mail, placeholder:"メールアドレス" %>

<%= f.submit "編集内容を保存" %>
<% end %>

<%= link_to "退会する", customer_confilm_path(@customer), method: :POST 



