<div class="container">
  <div class="row">
    <div class="ccol-lg-11 offset-lg-1">
      <%= form_with model:@customer, url:edit_customer_path, local:true do |f| %>
      <table class="customer_table">
        <tr>
          <th class="customer_edit_th">氏名</th>
          <td><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th class="customer_edit_th">フリガナ</th>
          <td><%= f.text_field :last_name_kana %></td>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>
         <tr>
          <th class="customer_edit_th">郵便番号</th>
          <td><%= f.text_field :postcode %></td>
        </tr>
          <th class="customer_edit_th">住所</th>
          <td><%= f.text_field :address %></td>
        </tr>
          <th class="customer_edit_th">電話番号</th>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <th class="customer_edit_th">メールアドレス</th>
          <td><%= f.text_field :email %></td>
        </tr>
      </table>

      <div>
        <%= f.submit "編集内容を保存",class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
      <br>
      <div>
        <%= link_to "退会する",customer_confirm_path , method: :POST, class: "btn btn-sm btn-danger" %>
      </div>
      <br>
    </div>
  </div>
</div>