<%= form_with model:@customer, url:admin_customer_path, local:true do |f| %>

<div>
  <label>氏名</label>
  <%= f.text_field :last_name %>
  <%= f.text_field :first_name %>
</div>

<div>
  <lavel>フリガナ</lavel>
  <%= f.text_field :last_name_kana %>
  <%= f.text_field :first_name_kana %>
</div>
  <lavel>郵便番号</lavel>
  <%= f.text_field :postcode %>
<div>
  <lavel>住所</lavel>
    <%= f.text_field :address %>
</div>

<div>
  <lavel>電話番号</lavel>
    <%= f.text_field :phone_number %>
</div>

<div>
  <lavel>メールアドレス</lavel>
    <%= f.text_field :mail %>
</div>

<span>
  <%= f.submit "編集内容を保存",class: "btn btn-sm btn-success" %>
</span>

<% end %>