<div class="container-fluid">
  <div class="row my-3">
    <div class="col-lg-2">
      <table class="table table-borderd">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td>
                <%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match", 'search[name]': genre.name ) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-10 i-index-empty">
      <h4>商品一覧</h4>
      <div class="yoko">
        <% @items.each do |item| %>
          <div class="tate">
            <p>
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag item, :image, :fill, 250, 125, format: 'jpeg', fallback: "no_image.png" %>
              <% end %>
            </p>
            <p><%= item.name %></p>
            <p>￥<%= item.add_tax_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
    <div class="center-block">
      <%= paginate @items %>
    </div>
    </div>
  </div>
</div>